<!--
    Author's name: Nicholas Rowlandson
    Student Number: 200167125
    Date  Modified: Thursday, August 18th, 2016
    Version: 0.0.1
    File: Index.cshtml
    Description: This is the index page for home
-->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Final Exam</h2>
</div>

<div class="row">

</div>